############################
# GENERAL
############################
.DS_Store
*.log
*.sqlite3

############################
# NODE / VITE / REACT
############################
node_modules/
dist/
.vite/
.env
.env.*
*.local

############################
# TYPESCRIPT
############################
*.tsbuildinfo

############################
# DJANGO
############################
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

############################
# DJANGO ENV / SECRETS
############################
.env
.env.*
*.env

############################
# VIRTUAL ENV
############################
venv/
env/
.venv/

############################
# IDE / EDITOR
############################
.vscode/
.idea/

############################
# MAC / TEMP FILES
############################
*~
*.bak
\#*
.\#*